<%- include('../partials/head') %> <%- include('../partials/header') %> <%-
include('../partials/navigation') %>

<main>
  <h1>Welcome, <%= account.account_firstname %></h1>

  <% if (messages.success) { %>
  <p class="success"><%= messages.success %></p>
  <% } %> <% if (messages.error) { %>
  <ul class="error">
    <% messages.error.forEach(err => { %>
    <li><%= err %></li>
    <% }); %>
  </ul>
  <% } %>

  <p>Email: <%= account.account_email %></p>
  <a href="/account/update/<%= account.account_id %>">Update Account</a>
  <a href="/account/logout">Logout</a>
</main>

<%- include('../partials/footer') %>
