<%- include('../partials/header') %>
<main>
  <h1><%= title %></h1>
  <% if (locals.messages) { %> <%- include('../partials/messages') %> <% } %>
  <%- grid %>
</main>
<%- include('../partials/footer') %>
