<%- include('../partials/head') %> <%- include('../partials/header') %> <%-
include('../partials/navigation') %>

<main>
  <h1>Delete <%= inv_make %> <%= inv_model %></h1>
  <% if (messages.error) { %>
  <ul class="error">
    <% messages.error.forEach(err => { %>
    <li><%= err %></li>
    <% }); %>
  </ul>
  <% } %>
  <p>Are you sure you want to delete this item?</p>
  <form action="/inv/delete/" method="POST">
    <input type="hidden" name="inv_id" value="<%= inv_id %>" />
    <button type="submit">Yes, Delete</button>
    <a href="/inv/">No, Cancel</a>
  </form>
</main>

<%- include('../partials/footer') %>
