<%- include('../../partials/head') %> <%- include('../../partials/header') %>
<%- include('../../partials/navigation') %>

<main>
  <h1><%= title %></h1>
  <p><%= message %></p>
  <p>
    Oops! Looks like our server took a detour. Try another route or contact our
    support team!
  </p>
</main>

<%- include('../../partials/footer') %>
